<% for column in Position.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @position.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @position %> |
<%= link_to 'Back', :action => 'list' %>
