<%= form_remote_tag :url => { :controller => '/contests/referendum', :action => 'update', :id => contest.id } %>
  <%= hidden_field 'choice', 'id' %>
  <%= render :partial => 'contests/referendum/form', :locals => { :contest => contest, :choice => choice } %>
  <%= submit_tag 'update referendum' %>
<%= end_form_tag %>
