<p><label for="contest_name">Issue before the voters<br/>(ballot measure, proposition, etc)</label><br/>
<%= text_field 'contest', 'name'  %></p>

<p><label for="choice_description">Description</label><br/>
<%= text_area 'choice', 'description', :rows => 5  %></p>

<p><label for="choice_selection">Position</label><br/>
<%= select 'choice', 'selection', Choice::SELECTION_OPTIONS.values, { :selected => Choice::NO_ENDORSEMENT } %></p>
