<%= form_remote_tag :url => { :controller => 'contests/referendum', :action => 'create' } %>
  <%= hidden_field 'contest', 'guide_id' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'add issue' %>
<%= end_form_tag %>
