<%= error_messages_for 'theme' %>

<!--[form:theme]-->
<p><label for="theme_markup">Markup</label><br/>
<%= text_area 'theme', 'markup', :cols => 50, :rows=> 100  %></p>

<p><label for="theme_markup">Markup</label><br/>
<%= collection_select 'theme', 'style_id', Style.find(:all), 'id', 'id' %>
<!--[eoform:theme]-->

