<h1>Editing theme</h1>

<% form_tag( { :action => 'update', :id => @theme }, :multipart => true ) do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @theme %> |
<%= link_to 'Back', :action => 'list' %>
