<%#= error_messages_for 'endorsement' %>
<div id="contest-edit-window-left">
  <%= render :partial => 'contests/referendum/new', :locals => { :contest => contest, :choice => choice } %>
</div>
<div id="contest-edit-window-right">
  <%= render :partial => 'contests/candidate/new', :locals => { :contest => contest, :choice => choice } %>
</div>
<br class="clear" />
