<% form_remote_tag :url => { :action => 'update', :id => contest.id } do -%>
<%= render :partial => 'contests/form', :locals => { :contest => contest } %>
  <%= submit_tag 'update contest' %>
<% end -%>
