<%= error_messages_for 'contest' %>
<%= hidden_field 'contest', 'guide_id' %>
First, which office is it?
(e.g. "City Council, District 5", "Alderman, District 1", "Senator", "President", etc)
<p><label for="contest_name">Office</label><br/>
<%= text_field 'contest', 'name'  %></p>
