<%= hidden_field 'contest', 'guide_id' %>
<h3>First, which office is it?</h3>
<p><%= text_field 'contest', 'name'  %></p>
<p>(e.g. "City Council, District 5", "Alderman, District 1", "Senator", "President", etc)</p>
