theballot.org notification
--------------------------

Someone just commented on your voter guide:
     Username: <%= @user.login %>
     http://<%= @user.signup_domain %>/users/show/<%= @user.id %>
	

View your guide here:
     <%= @guide.name %>
     http://<%= @user.signup_domain %><%= @guide.permalink_url %>

