<%= @from_name %> thought you would like this voter guide on theballot.org:
<%= @url %>

<%= @from_name %>'s message:
------------------------------

<%= @message %>





------------------------------

questions? problems?  let us know at <%= TheBallot::ADMIN_EMAIL %>
