Sent by "<%= @user.login %>"

A friend thought you would like this voter guide on theballot.org:

<%= "http://#{APPLICATION_HOST_NAME}#{@guide.permalink_url}" %>

Your friend's message follows:
------------------------------

<%= @message %>





------------------------------

questions? problems?  let us know at voterguides@indyvoter.org
