.guide-form-section {
  visibility: hidden;
}

textarea#guide_description {
  overflow: hidden;
}

.guide-form-section .explain {
  font-style: italic;
  font-size: 90%;
}

.screenshot-preview {
  position: absolute;
}
