/*
---------------------------------
theBallot.org Screen Styles
Author: Jeff French
Updated: Oct. 6, 2008
--------------------------------- */

/* ================================================================================ UNIVERSAL
*/

* { 
	margin: 0;
	padding: 0;
	}
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h2, h3, h4 { margin-bottom: .2em; }

p { margin-bottom: .5em; }

a, a:visited { text-decoration: underline; color: #333333; }
a:hover { text-decoration: none; }

#flash-notice, #flash-error {
	font-weight: bold;
	display: block;
	padding: 6px;
	background-color: #FEFAE4;
	border: 1px solid #cccccc;
	margin-bottom: 1em;
	}
#flash-notice {
	color: #333333;
	}	
#flash-error {
	color: #CC0000;
	}

select {
	border: 1px solid #999999;
	background-color: #eae7db;
	color: #333333;
	font-size: 10px;
	}	
input, textarea {
	background-color: #FaFaFa;
	border: 1px solid #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: .2em;
	color: #333333;
	}
input[type="submit"], 
input[type="button"],
.dynamic #contest-done-button a {
	font-family: Verdana,Arial,Helvetica,sans-serif,sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #333333;
	cursor: pointer;
	border: 3px double;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;	
	border-bottom-color: #999999;
	border-right-color: #999999;
	padding: .2em;
	margin-bottom: 3px;
	background-color: #ffffff;
	}
input[type="submit"]:hover, 
input[type="button"]:hover,
.dynamic #contest-done-button a:hover {
	color: #FF6600;
	}	
input[type="submit"]:active, 
input[type="button"]:active,
.dynamic #contest-done-button a:active {
	color: #333333;
	background-color: #fbfbfb;
	border-top-color: #999999;
	border-left-color: #999999;	
	border-bottom-color: #CCCCCC;
	border-right-color: #CCCCCC;
	padding-top: .25em;
	padding-left: .25em;
	padding-right: .15em;
	padding-bottom: .15em;
	}

 .dynamic #contest-done-button a,
 .dynamic #contest-done-button a:hover,
 .dynamic #contest-done-button a:active {
	text-decoration: none;
	clear: both;
	}
		
input:focus, textarea:focus {
	background-color: #FFFFFF;
	color: #000000;
	border-color: #CCCCCC;
	}
	
.clear { clear: both;}
.right { float: right;}

/* ================================================================================ LAYOUT
*/	
	
body {
/*	background-color: #15324e; */
	background-color: #2B4D5F;
	background-image: url(/images/background.gif);
	background-repeat: repeat-x;
	background-position: center top;
	}
	
#wrap {
	display: block;
	width: 850px;
	margin: 0 auto;
	}
	
#header {
	margin: 0;
	padding-top: 3px;
	display: block;
	vertical-align: top;
	height: 77px;
	width: 850px;
	background-image: url(/images/header-bottom.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	}

/* ================================================================================ HEADER
*/

#header a {
	color: #fffa86;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	}
#header a:hover {
	color: #FFCC00;
	}

#logo a, #nonpartisan-logo a {
	display: block;
	float: left;
	background-repeat: no-repeat;
	background-position: top;
	}
#logo a {
	width: 260px;
	height: 67px;
	background-image: url(/images/logo.jpg);
	}
#nonpartisan-logo a {
	width: 480px;
	height: 67px;
	background-image: url(/images/logo-c3.jpg);
	}
	
#logo a:hover, 
#nonpartisan-logo a:hover {
	background-position: bottom;
	}
	
	
#logo span, 
#nonpartisan-logo span {
	display: none;
	}
#sponsored-logo a, 
#nonpartisan-sponsored-logo a {
	float: right;
	vertical-align: top;
	display: block;
	height: 60px;
	width: 154px;
	padding: 0;
	background-position: top;
	}
#sponsored-logo a {
	background-image: url(/images/sponsored_logo.gif);
	}
#nonpartisan-sponsored-logo a {
	background-image: url(/images/league_stamp-c3.gif);
	}
#sponsored-logo a:hover, 
#nonpartisan-sponsored-logo a:hover {
	background-position: bottom;
	}
#sponsored-logo span, 
#nonpartisan-sponsored-logo span {
	display: none;
	}
	
#account-nav {
	padding: 5px;
	display: block;
	float: right;
	vertical-align: bottom;
	font-family: Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	font-weight: normal;
	}
/* ================================================================================ NAV
*/

#nav {
	margin: 0 -5px 10px -5px;
	background-color: #333333;
	padding: 2px 5px;
	color: #cccccc;
	font-size: 11px;
	}
#nav_links {
	display: inline;
	float: left;
	margin-top: 1px;
	}
#nav a {
	text-decoration: none;
	font-weight: bold;
	color: #66ccff;
	padding: 0 3px;
	}
#nav a:hover {
	text-decoration: none;
	color: #FFFFFF;
	}
#nav-search {
	display: block;
	text-align: right;
	}
#nav-search input {
	font-size: 10px;
	}	
#nav-search input[type="text"] {
	font-size: 10px;
	padding: 1px 1px 1px 3px;
	}

#nav-search .form_image {
	background-color: transparent;
	border: none;
	margin-left: 2px;
	padding: 0;
	height: 17px;
	vertical-align: bottom;
	}

/* ================================================================================ CONTAINER
*/

#container, #footer {
	background-color: #e9e0c2;
	font-family: Arial, Helvetica, sans-serif;
	}
#container {
	display: block;
	padding: 5px 15px 10px 15px;
	font-size: 11px;
	min-height: 40em;
	margin: 0;
	}
	/* Hide from IE-mac \*/
* html #container { height: 1%; }	
	/* End hide from IE-mac */
	
#home h2, #home h3 {
	color: #333333;
	background-repeat: no-repeat;
	background-position: left;
	border-bottom: 1px solid #fff7d9;
	margin-bottom: 2px;
	}
#home h2 span, #home h3 span, #home h4 span {
	display: none;
	margin: 0;
	}
	
/* ================================================================================ LEFT COLUMN
*/	

#container .front-page-left {
	display: block;
	float: left;
	width: 520px;

	}
#intro, #notice {
	display: block;
	width: 490px;
	padding: 20px 15px 10px 15px;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 1.2em;
	color: #37301e;
	background-color: #dfd7b1;
	background-position: bottom;
	background-repeat: no-repeat;

	}	

#notice {
	font-size: 10px;
	}

#map {
	padding: 0 7px;
	margin-bottom: 20px;
	}
#map h2 {
	height: 25px;
	background-image: url(/images/select_state.gif);
	background-repeat: no-repeat;
	}

#map p {
	margin-bottom: 3px;
	color: #666666;
	}
#map img {
	border: 1px solid #705f4d;
	}
	
#search-guides {
	display: block;
	width: 280px;
	height: 68px;
	padding: 5px 10px;
	margin: 15px 7px;
	vertical-align: top;
	background-image: url(/images/search_bg.gif);
	background-repeat: no-repeat;
	}
#search-guides h4 {
	display: block;
	width: 150px;
	height: 18px;
	margin-bottom: .2em;
	background-image: url(/images/search_guides.gif);
	background-repeat: no-repeat;
	}
#search-guides input[type="text"] {
	font-size: 14px;
	height: 20px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	}
#search-guides input[type="image"] {	
	background-color: transparent;
	border: none;
	margin-left: 3px;
	padding: 0;
	vertical-align: bottom;
	}
	
	
/* ================================================================================ RIGHT COLUMN
*/		

#container .front-page-right {
	display: block;
	float: right;
	width: 270px;
	}
	
/* ================================================================================ HOMEPAGE VOTER GUIDE LIST
*/		

#create_guide_icon img {
	margin-top: 8px;
	border: none;
	}
#home #guide-list, #home #guide-past-list {
	background-color: #FAFAFA;
	padding: 9px 7px;
	}
#home #guide-count, #home #polling-place, #how-to {
	background-color: #DFD7B1;
	padding: 9px 7px 9px 10px;
	color: #666666;

	margin-bottom: 10px;
	vertical-align: middle;
	}
#guide-count-number, #polling-place {
	font-size: 14px;
	font-weight: bold;
	}

#voter-guides h3 {
	display: block;
	height: 18px;
	background-image: url(/images/browse_voter_guides.gif);
	background-repeat: no-repeat;
	}

#voter-guides-past-title h3 {
	display: block;
	height: 18px;
	background-image: url(/images/past_voter_guides.gif);
	background-repeat: no-repeat;
        margin-top: 10px;
        }
#voter-guide-links, #voter-guide-links a, #more-guides-link {
	font-size: 12px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: none;
	height: 10px;
	}
#more-guides-link {
	margin-bottom: 5px;
	}
#voter-guide-links a:hover {
	color: #66CCFF;
	}
#view-link, #view-past-link { float: right;}
#create-link { float: left;}
#voter-guide-links { margin-bottom: 8px; }

	
/* hide icons on home page only */	
#home .guide-list-image img {
	display: none;
	}
	
#home .guide-list-element {
	padding: 5px 4px;
	background-color: #F5F5F5;
	margin-bottom: 4px;
	}
#home .guide-list-element:hover {
	background-color: #ffffff;
	}

/* ================================================================================ CONTENT - CREATE/EDIT GUIDES
*/

#guide-edit-header {
	background-color: #ffffff;
	padding: 8px 8px 2px 8px;
	font-weight: bold;
	margin-bottom: 8px;
	}
#guide-edit-header p:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	}		
* html #guide-edit-header {
	height: 1%;
	}	
#guide-preview h4, #guide-contests-container h4 {
	font-size: 16px;
	color: #333333;
	padding-bottom: 3px;
	border-bottom: 1px solid #999999;
	}
#guide-edit-header, #guide-edit-header a:hover {
	color: #666666;
	}
#guide-edit-header a {
	color: #999999;
	}	
.guide-edit-left {                /*  LEFT  */
	display: block;
	width: 250px;
	float: left;
	}

.guide-edit-right {                /*  RIGHT  */
	display: block;
	width: 550px;
	float: right;
	line-height: 1.2em;
	}
	
/*====================================guide-preview = The BASICS Window   */

#guide-preview {
	display: block;
	margin-bottom: 15px;
	padding: 15px 15px 25px 15px;
	background-color: #f6f2e7;
	color: #333333;
	}
#guide-preview-basics p {
	margin-bottom: 0;
	line-height: 1.1em;
	}	
.guide-preview-section {
	margin-bottom: 1.2em;
	clear: both;
	}
.guide-preview-section img {
	float: right;
	border: 1px solid #cccccc;
	}
.edit_icon img {
	border: none;
	margin-bottom: -2px;
	float: none;
	}
#guide-preview-title {
	font-weight: bold;
	}	
/* see POPUPS for guide window */

#guide-preview-theme,
#guide-preview-image,
#guide-preview-attached-pdf {
	display: block;
	background-color: #f1f1f1;
	border: 1px solid #d8d8d8;
	padding: 5px;
	margin-bottom: 5px;
	height: 37px;
	}	
#guide-preview-attached-pdf img {
	border: none;
	}	
	
#guide-preview a {
	color: #333333;
	text-decoration: underline; }
#guide-preview a:hover {
	color: #000000;		
	text-decoration: none;	}

		
/*====================================guide-contests-container = The BALLOT Window   */	

#guide-contests-container  {
	display: block;
	margin-bottom: 15px;
	padding: 15px 15px 25px 15px;
	background-color: #FFFFFF;
	}
#guide-contests-container a {
	color: #ff6600;
	text-decoration: underline; }
#guide-contests-container a:hover {
	text-decoration: none;	}

#add-contests {
	display: block;
	height: 70px;
	padding: 5px 5px 5px 7px;
	border-bottom: 1px solid #999999;
	background-image: url(/images/buttons_gradient_bg.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	}
#research-link {
	margin-top: 5px;
	}	
#add-issue-link, 
#add-office-link {
	padding: 5px 0;
	clear: both;
	}	
#add-issue-link a, 
#add-office-link a {
	float: left;
	margin-right: 8px;
	vertical-align: middle;
	}	
#add-office-example, 
#add-issue-example {
	padding: 5px 0;
	vertical-align: bottom;
	color: #666666;
	font-style: italic;
	}	
#add-issue-link img, 
#add-office-link img { 
	border: none; 
	}	
.ballot-instructions {
	color: #666666;
	padding-top: 10px;
	margin: 0 0 5px 5px;
	font-style: italic;
	}	
#contests {
	clear: both;
	}	
#contests li {
	cursor: move;
	}
#contests li, 
#contests li ul,
#contest-edit-window-right li,
#contest-edit-window-right li ul {
	margin-left: 10px;
	list-style-type: none;
	list-style-image: url(/images/carrot.gif);
	}
#contests li:hover {
	list-style-image: url(/images/carrot-over.gif);
	}
#contests li, 
#contests li ul 
#contest-edit-window-right li {
	margin-bottom: .5em;
	padding-top: .2em;
	}
.candidate-name {
	font-weight: bold;
	}
.candidate-contest-description {
	font-style: italic;
	}	
.guide-edit-buttons {
	display: block;
	width: 530px;
	background-color: #ffffff;
	padding: 10px;
	text-align: right;
	}
#nonpartisan-submit-text {
	float: left;
	font-style: italic;
	vertical-align: bottom;
	color: #333333;
	}
/* ================================================================================ POPUPS
*/	

.dynamic {
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 180px;
	margin-left: -125px;
	background-color: #fefae4;
	border: 20px solid #666666;
	padding: 20px; 
	}
.dynamic p {
	color: #333333;
	font-size: 11px;
	padding-bottom: .1em;
	margin-top: .5em;
	}
.dynamic input[type="submit"], 
.dynamic input[type="button"] {	
	float: right;
	margin-left: 5px;
	}
.dynamic input, .dynamic textarea {
	margin-top: 2px;
	}	
.dynamic label {
	font-weight: bold;
	}	
.dynamic .required {
	}
#guide-form-theme {
	height: 220px;
	}
.screenshot-preview {
	margin: .5em 0;
	}	
#guide-form-theme input {
	margin-top: 165px;
	clear: left;
	z-index: 10;
	}
#guide-theme-screenshot {
	width: 200px;
	}	
#guide-theme-screenshot img {
	border: 1px solid #999999;
	}	
#contest-edit-window {
	width: 400px;
	}
#contest-edit-window-left {
  padding-bottom: 5px;
	}
#contest-edit-window-right {
	padding-top: 5px;
	border-top: 1px solid #cccccc;
	margin-top: 2px;
	clear: both;
	}
#contest-edit-window-right li {
	padding-top: .5em;
	}
#guide-form-basics {
	width: 320px;
	}
#guide-form-theme,
#guide-form-image,
#guide-form-pdf {
	width: 250px;
	}
.guide-form-section {
	position: absolute;
	top: 130px;
	margin-left: -420px;
	}
#guide-form-image img {
	margin-top: 5px;
	border: 1px solid #cccccc;
	clear: both;	
	}
	
/* ================================================================================ GUIDE LIST
*/

#guide-list-header {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px dotted #999999;
	margin-bottom: 3px;
	}
#guide-list-messages {
	margin: .5em 0 1em 0;
	}
#guide-list-messages a {
	color: #666666;
	}
#guide-resources {
	display: block;
	float: right;
	width: 220px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #DFD7B1;
	color: #666666;
	}
#guide-resources h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: .3em;
	}	
.resource-intro {
	margin-bottom: .8em;
	}	
.resource-link {
	margin-top: .5em;
	padding-left: 3px;
	}
.resource-link a {
	color: #666666;
	text-decoration: underline;
	}	
.resource-link a:hover {
	text-decoration: none;
	}

#application #guide-list-container {
	display: block;
	float: left;
	width: 550px;
	padding: 10px;
	background-color: #fafafa;
	margin-bottom: 8px;
	}
#application .guide-list-element {
	padding: 10px;
	min-height: 50px; /* icon height */
	margin-bottom: 5px;
	background-color: #f5f5f5;
	clear: both;
	}
#application .guide-list-element:hover {
	background-color: #ffffff;
	}	
.guide-endorsed-stamp {
	display: block;
	float: right;
	width: 50px;
	height: 30px;
	margin-left: 3px;
	}
.guide-non-partisan {
	display: block;
	float: right;
	height: 30px;
	width: 50px;
	margin-left: 3px;
	}	

#application .guide-list-image {
	float: left;
	height: 50px;
	padding-right: 10px;
	border-right: 1px dotted #999999;
	}
#application .guide-list-image img {
	border: 1px solid #cccccc;
	}
#application .guide-list-basics {
	margin-left: 70px;
	}
.guide-list-name {
	display: inline;
	margin-bottom: 2px;
	}
.guide-list-author-info {
	display: inline;
	font-style: italic;
	font-size: 10px;
/*	color: #999999; */
    color: green;
	}	
.guide-list-name a,
.guide-list-name a:visited {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	border-bottom: 1px dotted #999999;
	}
.guide-list-name a:hover {
	color: #333333;
	border-bottom: none;
	text-decoration: none;
	}	
.guide-list-location {
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	}
.guide-list-date {
	font-size: 10px;
	color: #999999;
	}
.guide-list-description {
	font-size: 10px;
	color: #b09c5a;
	}	


#pagination {
	font-size: 14px;
	}

/* ================================================================================ VOTER GUIDE PAGE
*/

#guides-show #main {
	display: block;
	float: left;
	width: 600px;
	}
#endorsed, #unendorsed {
	font-weight: bold; 
	color: #333333;
	margin-bottom: 3px; 
	}
#unendorsed {
	color: red;
	font-size: 14px;
	}	

/* ========================================== SIDEBAR 
*/

#guides-show #sidebar {
	display: block;
	float: right;
	width: 210px;
	}
#guides-show .sidebar-frame { 
	padding: 8px 5px;
	background-color: #f6f6f6;
	margin-bottom: 5px;
	/*border: solid #cccccc;
	border-width: 5px 1px 1px 1px; */
	}
#sidebar a {
	text-decoration: underline;
	color: #666666;
	line-height: 1.2em;
	}
#sidebar a:hover {
	color: #333333;
	text-decoration: none;
	}

#guides-show #sidebar ul, 
#guides-show #sidebar li {
	list-style: none;
	}
.sidebar-frame {
	color: #999999;
	}
#guides-show #world-actions {
	background-color: #ffffff;
	}
#guides-show #world-actions a {
	color: #FF9900;
	font-weight: bold;
	line-height: 1.5em;
	padding-left: 20px;
	background-position: center left;
	background-repeat: no-repeat;
	}
#guides-show #world-actions a:hover {
	color: #FF6600;
	}	

#pdf-guide-link a {
	background-image: url(/images/pdf-grey.gif);
	}

#print-guide-link a {
	background-image: url(/images/print_icon.gif);
	}
#email-guide-link a {
	background-image: url(/images/email_icon.gif);
	}
#guidelink-code-link a {
	background-image: url(/images/link_icon.gif);
	}
#embed-code a {
	background-image: none;
	}

#author-avatar, 
.member-avatar {
	display: block;
	margin: 3px 0 2px 0;
	padding: 3px;
	text-align: left;
	vertical-align: middle;
	background-color: #f0f0f0;
	}
#author-avatar:hover, 
.member-avatar:hover {	
	background-color: #E3EDF7;
	}
#author-avatar:after, 
.member-avatar:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hide from IE-mac \*/
* html #author-avatar, 
* html .member-avatar {height: 1%;}
/* End hide from IE-mac */

#author-avatar img, 
.member-avatar img {
	float: right;
	border: 1px solid #cccccc;
	}
#sidebar #author-avatar a, 
#sidebar .member-avatar a {
	float: left;
	margin-left: 5px;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
	text-decoration: none;
	}
#sidebar #author-avatar a:hover, 
#sidebar .member-avatar a:hover {
	color: #333333;
	}
.sidebar-frame h3 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	margin: 0;
	}

.sidebar-frame h4 {
	font-size: 11px;
	font-weight: normal;
	}
	
/* ================================================================================ EDIT & VIEW USER PROFILE
*/
#admin_control {
	margin-bottom: 5px;
	}
.account-section, .user-section
    {
	display: block;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #f6f6f6;
	}
.account-section {
	width: 400px;
	}	
.account-section h3 {
	color: #333333;
	font-size: 14px;
	}		
.account-section #description, .guide-list-created {
	color: #999999;
	font-style: italic;
	}
.account-guide-list-item, 
.account-bloc-list-item,
.user-guides-list-item {
	display: block;
	color: #666666;
	background-color: #f0f0f0;
	padding: 5px;
	height: 1em;
	clear: both;
	margin-top: 3px;
	}
.account-guide-list-item:hover, 
.account-bloc-list-item:hover,
.user-guides-list-item:hover {	
	background-color: #e3edf7;
	}
	
.account-guide-title  {
/*	float: left; */
	}
.account-guide-title a,
.account-guide-title a:visited,
.user-guides-list-item a,
.user-guides-list-item a:visited  {
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	}
.account-guide-title a:hover, 
.user-guides-list-item a:hover {
	color: #333333;
	}	
.account-guide-links {
	float: right;
	}
.account-guide-links a, 
#user-profile a  {
	color: #ff6600;
	}
.account-guide-links a:hover,
#user-profile a:hover {
	text-decoration: none;
	}
#in-progress a {
	text-align: right;
	}
#user-profile {
	color: #666666;
	}
#user-profile p {
	font-weight: bold;
	}	
#user-profile img, 
#user-profile-basics img {
	float: right;
	margin-left: 1em;
	border: 1px solid #cccccc;
	}
#user-profile img {	
	margin-top: -3em;
	}
#no-profile div {
	float: right;
	font-style: italic;
	clear: both;
	width: 100px;
	text-align: right;
	}
.profile_field_title {
	font-style: italic;
	font-weight: normal;
	}	
#account-user-basics {
	line-height: 1.2em;
	}
.user-section {
	width: 450px;
	color: #333333;
	}
#user-profile-basics img {
	margin-top: -2em;
	}	
#user-profile-basics div {
	margin-bottom: .7em;
	}

#user-profile-aboutme:after,	
#account-user-basics:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
	}		
#user-profile-basics b	{
	clear: both;
	}
#edit-profile-avatar img {
	border: 1px solid #cccccc;
	}

#profile-edit-link {
	padding-top: 10px;
	}
.user-comments-list-body {
    background-color:#F9F9F9;
    margin: 5px 0 5px 20px;
	}
.user-comments-list-body a {
	text-decoration: none;
	}
.user-comments-list-body a:hover {
	background-color:#E3EDF7;
	}

/* ================================================================================ SIGN UP
*/

#signup_form {
	width: 380px;
	}
#signup_form,
#login_form {
	padding: 1.5em 5px;
	}		
#signup-intro a {
	color: #FF6600;
	}	
#signup_form h3,
#login_form h3 {
	margin: 0 0 10px 5px;
	color: #333333;
	border-bottom: 1px dotted #999999;
	}	
#signup_form .account-section,
#login_form .account-section {	
	width: 340px;
	padding: 20px;
	}
#signup_avatar img {
	border: 1px solid #cccccc;
	}

#login_form {
	clear: both;
	}	
#login_fields {
	width: 350px;
	padding: 10px;
	}

/* ================================================================================ C3 INSTRUCTIONS
*/

#c3-instructions {
	color: #333333;
	display: block;
	width: 550px;
	background-color: #ffffff;
	padding: 15px;
	border: solid #cccccc;
	border-width: 5px 1px 1px 1px;
	margin: 1em 0;
	}
#c3-instructions p {
	line-height: 1.2em;
	}
#c3-instructions li {
	margin-left: 1.5em;
	margin-bottom: .4em;
	}
#c3-instructions li ul {
	margin-top: .4em;
	}	
#c3-instructions li li {
	list-style: none;
	margin-left: .5em;
	}

/* ================================================================================ FOOTER
*/

#footer {
	clear: both;
	display: block;
	padding: 10px 20px;
	vertical-align: bottom;
	margin-bottom: 1.5em;
	font-size: 10px;
	color: #666666;
	background-image: url(/images/footer_bg.gif);
	background-position: bottom;
	background-repeat: no-repeat;
	overflow: hidden; /* added Oct 2008 */
	}
#footer #contact-us {
	margin-top: .7em;
  float: left;
	}
#footer #hosted-by {
  margin-top: .7em;
  float: right;
  }
#copyright {
	display: block;
	float: right;
	text-align: right;
	}
#footer a, #footer a:visited {
	color: #666666;
	text-decoration: underline;
	}
#footer a:hover {
	color: #666666;
	text-decoration: none;
	}
	
/* ================================================================================ APPLICATION
*/	

#vg-public-url { /* hide for screen - set to display for print */
	visibility: hidden;
	}
#contest-container p.ballot-instructions {
  float: left;
	}
#contest-edit-window {
	visibility: hidden;
	}
.errorExplanation {
	color: red;
	font-weight: bold;
	font-size: 12px;
	}

/* ================================================================================ HOW-TO GUIDE
*/	

#how-to li {
	margin: 4px 0 4px 18px;
}

#how-to ul {
	margin-left: 20px;
}

/* ================================================================================ OCT 2008 CHANGES
*/	

#wrap {
	display: block;
	width: 850px;
	margin: 0 auto;
	position: relative;
	}
	
#bg-left {
	position: absolute;
	width: 162px;
	top: 12px;
	margin-left: -162px;
	height: 589px;
	display: block;
	background: url(/images/bg-left.gif) no-repeat;
	}
	
#bg-right {
	position: absolute;
	width: 157px;
	top: 24px;
	right: 0;
	margin-right: -157px;
	height: 555px;
	display: block;
	background: url(/images/bg-right.gif) no-repeat;
	}

/* also added overflow: hidden; to #footer Oct 2008 */

#intro h2 {
	margin: -8px 0 6px;
	}
#admin-user-list h4 {
	color: #97d859;
	}
#link-signup {
	margin-top: 6px;
	}

/* ================================================================================ COMMENTS
*/	

#main #comments {
	margin-top: 12px;
	padding: 10px 15px;
}

#comments h2 {
	color: #666;
}

#comments-add-box {
	margin: 12px 0;
}

#comments-add-box textarea {
	margin: 4px 0 10px;
}

#comments-add-box span {
	font-style: italic;
	display: block;
}

#comments-box-username {
	margin: 8px 0;
	font-weight: bold;
}

#comments-box-username label {
	font-weight: normal;
}

#comment-need-to-login {
	color: #666;
	font-style: italic;
}

.comment-left {
	display: block;
	float: left;
	width: 100px;
}

.comment-right {
	margin-left: 150px;
	width: 400px;
	font-size: 12px;
	color: #333;
	font-family: georgia,"times new roman",times,serif;
}

.comment-listing {
	padding: 10px 6px;
	overflow: hidden;
	border-top: 1px solid #ccc;
}

.comment-subject {
	font-weight: bold;
	margin-bottom: 4px;
}

.comment-poster {
	font-weight: bold;
	margin-bottom: 8px;
}

.comment-poster label {
	font-weight: normal;
	font-style: italic;
	display: block;
}

.comment-sidebar-listing {
	border-bottom: dotted;
	border-width: 1px;
	border-color: gray;
	margin: 6px 0;
	color: #666;
	display: block;
	overflow: hidden;
}

.comment-sidebar-subject {
	font-weight: bold;
}

.comment-sidebar-poster, .comment-sidebar-date {
	font-style: italic;
	color: #999;
}
#homepage-comments {
	width: 485px;
	background-color: #F5F5F5;
	display: block;
	float: left;
	padding: 10px;
	margin-bottom: 8px;
	position: relative;
	left: 10px;
}
#homepage-comments .comment-sidebar-listing {
	margin: 0;
	padding: 6px 0;
}
#homepage-comments .comment-sidebar-poster a, .comment-homepage-guide, .comment-homepage-guide a {
	color: #999999;
}
.comment-sidebar-avatar {
	float: left;
	padding: 0 8px 2px 0;
	width: 35px;
	clear: left;
	overflow: auto;
}
.comment-sidebar-avatar img {
	overflow: auto;
}