@import url("scaffold.css");

body {
  background: #000000;
  margin: 0;
  padding: 0;
  min-width: 800px;
}

#wrap {
  margin: 0 auto;
  width: 800px;
}

#header {
  float: left;
  color: #FFFFFF;
  width: 650px;
}

#footer {
  color: #FFFFFF;
  clear: both;
  position: relative;
}

#account-nav {
  float: left;
  text-align: center;
  background:#FF0000;
  width: 150px;
}

.clear {
  clear: both;
}

#container .column {
  float: left;
}

#content {
  background: #FFFFFF;
  width: 100%;
}

.required {
  font-weight: bold;
}

#nav {
  position: relative;
  float: left;
  background: red;
}

.explain {
  font-size: 80%;
}

.guide-list-element {
  padding: 10px;
}

.guide-list-location {
  float: left;
}

.guide-list-date {
  float: right;
}

.guide-list-description {
  clear: both;
}
