@import url("scaffold.css");

body {
  background: #000000;
  margin: 0;
  padding: 0;
  min-width: 800px;
}

#wrap {
  margin: 0 auto;
  width: 800px;
}

#header {
  float: left;
  color: #FFFFFF;
  width: 650px;
}

#footer {
  color: #FFFFFF;
  clear: both;
  position: relative;
}

#account-nav {
  float: left;
  text-align: center;
  background:#FF0000;
  width: 150px;
}

.clear {
  clear: both;
}

#container .column {
  float: left;
}

#content {
  background: #FFFFFF;
  width: 100%;
}

.required {
  font-weight: bold;
}

#nav {
  position: relative;
  float: left;
  background: red;
}

.explain {
  font-size: 80%;
}

.guide-list-element {
  padding: 10px;
}

.guide-list-location {
  float: left;
}

.guide-list-date {
  float: right;
}

.guide-list-description {
  clear: both;
}

#guide-create {
  position: relative;
}

#guide-form-container {
  float: left;
  width: 50%;
}

#guide-endorsement-container {
  float: left;
  width: 50%;
}

#endorsement_form {
  position: absolute;
  left: 10px;
  top: -300px;
  background-color: white;
  border: 1px solid;
  padding: 10px 10px;
  width: 700px;
  visibility: hidden;
}

#guide-new-introduction {
  height: 300px;
}

#endorsement_form #issue, #endorsement_form #contest-instructions {
  width: 349px;
  float: left;
  border-right: 1px solid;
}

#endorsement_form #contest {
  float: left;
  width: 340px;
  padding-left: 10px;
}

#or {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#done-button {
  display: none;
}

.right {
  float: right;
}
