@import url("scaffold.css");

body {
  background: #000000;
  margin: 0;
  padding: 0;
  min-width: 750px;
}

#wrap {
  margin: 0 auto;
  width: 750px;
}

#header {
  float: left;
  color: #FFFFFF;
}

#footer {
  color: #FFFFFF;
  clear: both;
}

#nav {
  width: 150px;
  float: right;
  text-align: center;
  background:#FF0000;
  border-left: 1px solid #cecea5;
}

.clear {
  clear: both;
}

#content .column {
  position: relative;
  float: left;
}

#main {
  background: #FFFFFF;
  width: 100%;
}

#sidebar {
  width: 100px;
  padding-left: 30em;
}

.required {
  font-weight: bold;
}

#guide-nav {
  position: relative;
  float: left;
  background: red;
}

.explain {
  font-size: 80%;
}

.guide-list-element {
  padding: 10px;
}

.guide-list-location {
  float: left;
}

.guide-list-date {
  float: right;
}

.guide-list-description {
  clear: both;
}
