<% user ||= admin_list_item %>
<div class="guide-list-element">
<div class="guide-list-basics">
  <div class="guide-list-name">
<% if guide.image %>
    <%= link_to user.login %>
<% end %>
  </div>
</div>
</div>
