

<% if logged_in? -%>
  <% if current_user.is_admin? %>


<div id="guide-list-container">
published:<br><br>
<%= render :partial => 'admin_list_item', :collection => @users %>

</div>





  <% end %>
<% end %>
