

<% if logged_in? -%>
  <% if current_user.is_admin? %>

<div id="admin-user-list">
 <div id="guide-list-container">

  <%= render :partial => 'admin_list_item', :collection => @users %>

 </div>
</div>




  <% end %>
<% end %>
