<div id="error-page">Whoops!  There was an error on our end and the developers have been notified.  In the meantime, press the back button and try again.  And remember to save your work!  Sorry for the trouble.  You can also email us at <%= link_to TheBallot::ADMIN_EMAIL, 'mailto:' + TheBallot::ADMIN_EMAIL %></div>
