<div id="header">
  <div id="<%= 'nonpartisan-' if @c3 %>logo"><a href="/"><span><%= 'nonpartisan.' if @c3 %>theballot.org</span></a>
  </div>
  <div id="sponsored-logo"><a href="http://indyvoter.org/PAC" target="_blank"><span>Brought to you by The League of Young Voters</span></a>
  </div>
  <%= render "shared/nav/account" %>
</div>
