<div id="header">
  <div id="logo"><a href="/"><span>Super! New! <%= 'c3! ' if @c3 %>Voter! Guides!</span></a>
  </div>
  <%= render "shared/nav/account" %>
  <div id="sponsored-logo"><a href="http://indyvoter.org" target="_blank"><span>Brought to you by The League of Young Voters</span></a>
  </div>
</div>
<br class="clear" />
