<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= 'nonpartisan.' if @c3 %>theballot.org</title>
  <%= stylesheet_link_tag 'http://ixley.com/ballot/master.css', :media => 'all' %>
  <%= @content_for_stylesheets %>
  <%= stylesheet_link_tag 'master-print', :media => 'print' %>
  <%= @content_for_print_stylesheets %>

  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag 'niftycube' %>
  <%= javascript_tag '
    window.onload=function(){
      Nifty("div#nav","small, transparent");
      Nifty("div#guide-preview,div#guide-contests-container,div.guide-edit-buttons,div#guide-list-container"); 
    }' %>
  
</head>
