<%= start_form_tag :controller => 'guides', :action => 'search' %>
  <input id="search-query" name="q" type="text" value="Search Voter Guides" onclick="this.value=''" />
<!--  <input id="search-button" name="search" type="submit" value="go" /> -->
<%= image_submit_tag('go_button.gif') %>
<%= end_form_tag %>
