<%= start_form_tag :controller => 'guides', :action => 'search' %>
  <input id="search-query" name="q" type="text" value="Search Voter Guides" onFocus="javascript:this.value == 'Search Voter Guides' ? this.value = '': null;" onBlur="javascript:this.value == '' ? this.value = 'Search Voter Guides': null;"> 
<%= image_submit_tag('go_button.gif') %>
<%= end_form_tag %>
