<%= error_messages_for 'link' %>

<!--[form:link]-->
<p><label for="link_url">Url</label><br/>
<%= text_field 'link', 'url'  %></p>

<p><label for="link_description">Description</label><br/>
<%= text_area 'link', 'description', :rows => 3  %></p>
<!--[eoform:link]-->

