    <div id="nav">
      <%= link_to "Make a new guide", :controller => 'guides', :action => 'new' %> | 
     <%= link_to "View All Guides", :controller => 'guides', :action => 'list' %> |
      <label for="state_select">View guides by state</label> <%= select_tag 'state', options_for_select('--' => '', 'ALL' => 'all') + us_state_options_for_select( @state, {:show => :abbreviations}), :onchange => "window.location.href='/guides/by_state/' + this.value" %> |
      <%= link_to "Search Guides", :controller => 'guides', :action => 'search' %>
    </div>
