<div id="endorsement_<%= index %>_hiddens">
  <%= hidden_field_tag("endorsements[#{index}][contest]", endorsement.contest, :id => "endorsements_#{index}_contest") %>
  <%= hidden_field_tag("endorsements[#{index}][candidate]", endorsement.candidate, :id => "endorsement_#{index}_candidate") %>
  <%= hidden_field_tag("endorsements[#{index}][description]", endorsement.description, :id => "endorsement_#{index}_description") %>
  <%= hidden_field_tag("endorsements[#{index}][selection]", endorsement.selection, :id => "endorsement_#{index}_selection") %>
</div>
