<% if contest.id -%>
<b><%= contest.name %></b> <a href="#">edit</a><br />
<i><%= contest.description %></i>
<ul id="contest_choices_preview">
  <%= render :partial => 'guides/choice', :collection => contest.choices %>
</ul>
<% end -%>
