<span class="candidate-contest-name"><b><%= contest.name %></b></span> <%= link_to_remote 'edit', { :url => { :controller => '/contests/candidate', :action => 'edit', :id => contest.id }, :method => :get }, :class => 'candidate-contest-edit-link' %> <%= link_to_remote 'delete', { :url => { :controller => '/contests', :action => 'destroy', :id => contest.id } }, :class => 'candidate-contest-delete-link' %><br/>
<div class="candidate-contest-description"><%= contest.description %></div>

  <ul id="contest_<%= contest.id %>_choices">
    <%= render :partial => 'guides/choice', :collection => contest.choices %>
  </ul>
  <%= sortable_element "contest_#{ contest.id }_choices", :complete => visual_effect(:highlight, "contest_#{ contest.id }_choices"), :url => { :controller => 'contests', :action => 'order', :id => contest.id } %>
