<% if user.is_admin? %>
  <%= link_to_remote "de-admin", :url => { :action => 'remove_admin', :id => user }, :update => 'admin_control' %>
<% else %>
  <%= link_to_remote "make admin", :url => { :action => 'add_admin', :id => user }, :update => 'admin_control' %>
<% end %>
