<p><label for="user_password" class="required">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="user_password_confirmation" class="required">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>
