<p><label for="user_password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="user_password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>
