<%= start_form_tag :action => "activate" %>
<p><label for="id">Activation Code</label><br/>
<%= text_field_tag(:id, @params[:id], :size=>50 ) %>
</p>
<p><%= submit_tag 'Activate' %></p>
<%= end_form_tag %>
