<p><label for="uploaded_avatar">Upload an icon to represent yourself on the site</label><br />
<%= file_field_tag 'uploaded_avatar' %>
<br />
(file formats: .jpg, .gif, or .png)<br />
<br />
<% if @avatar -%>
currently:<br />
<div class="vg-avatar"><%= image_tag @avatar.public_filename("thumb") %></div>
<% else -%>
<!-- otherwise, you'll look like this! -->
<div class="vg-avatar"><%= image_tag "avatar.gif" %></div>
<% end -%>
</p>
