Enter the email address you used to sign up and we will email you the password.

<%= start_form_tag %>
<p><label for="email">Email Address</label><br/>
<%= text_field_tag 'email' %></p>

<p><%= submit_tag 'Send password' %></p>
<%= end_form_tag %>
