
<div id="container">
  <div id="forgot_password_fields" class="account-section">

<p id="forgot-password-instructions">Enter the email address you used to sign up and we will email you the password.</p>

<%= start_form_tag %>
<p><label for="email">Email Address</label><br/>
<%= text_field_tag 'email' %></p>

<p><%= submit_tag 'Send password' %></p>
<%= end_form_tag %>

</div>

</div>
