<div id="container">
<%= error_messages_for 'user' %>

<%= render :partial => 'login_box' %>

<%= link_to "Forgot your password?", :action => 'forgot_password' %> <%= link_to "Sign Up", :action => 'signup' %>

</div>