<div id="container">

<div id="login_form">
  <div id="login_fields" class="account-section">


<%= error_messages_for 'user' %>

<%= render :partial => 'login_box' %>

<div id="link-forgot-password"><%= link_to "Forgot your password?", :action => 'forgot_password' %></div>
<div id="link-signup"><%= link_to "Sign up for a new account", :action => 'signup' %></div>

  </div>
</div>

</div>
