<p id="reset-password-instructions">Enter a new password below</p>

<%= start_form_tag %>
<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= password_field_tag 'password_confirmation' %></p>

<p><%= submit_tag 'Reset password' %></p>
<%= end_form_tag %>
