<% unless guide.approved? -%>
<%= link_to_remote "Approve", :url => { :controller => 'guides', :action => 'approved_status', :id => guide, :approved => true }, :update => 'approved_status' %>
<% end -%>
