<%= error_messages_for 'guide' %>

<!--[form:guide]-->
<p><label for="guide_name">Name</label><br/>
<%= text_field 'guide', 'name'  %></p>

<p><label for="guide_description">Description</label><br/>
<%= text_area 'guide', 'description'  %></p>

<p><label for="guide_city">City</label><br/>
<%= text_field 'guide', 'city'  %></p>

<p><label for="guide_state">State</label><br/>
<%= us_state_select 'guide', 'state'  %></p>
<!--[eoform:guide]-->

