 <div class="resource-link"><a href="http://www.rockthevote.com/election-center/contact-sos/" target="_blank">Find Your Polling Place</a></div>
 <div class="resource-link"><a href="http://www.rockthevote.com/election-center/contact-sos/" target="_blank">Find If You're Registered</a></div>
 <div class="resource-link"><a href="http://ballotpedia.org" target="_blank">Local Ballot Info</a></div>
