

<% if logged_in? -%>
  <% if current_user.is_admin? %>


<div id="guide-list-container">
<h1>published:</h1><br><br>
<%= render :partial => 'admin_list_item', :collection => @published %>

<br>
<br>
<h1>unpublished:</h1><br><br>
<%= render :partial => 'admin_list_item', :collection => @unpublished %>


</div>





  <% end %>
<% end %>
