<% if @recently_created_guide -%><%= submit_tag 'next', :class => 'form_button' %><% else -%><%= submit_tag 'OK', :class => 'form_button' %>     <%= button_to_function 'Cancel', "Element.setStyle('guide_description', {overflow:'hidden'}); invi('guide-form-basics', true)", :class => 'form_button' %><% end -%>
