<h1>Editing guide</h1>

<table>
  <tr>
    <td>
      <%= start_form_tag ( { :action => 'update', :id => @guide }, :id => 'guide_form' ) %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>
</td>
<td>
  <%= render :partial => 'new_endorsement' %>
</td>
<td valign="top">
<div id="endorsements">
</div>
</td>
</tr>
</table>

<%= link_to 'Show', :action => 'show', :id => @guide %> |
<%= link_to 'Back', :action => 'list' %>
