<a href="http://<%= @controller.request.host + @guide.permalink_url %>" target="_blank"><img border="0" src="http://<%= @controller.request.host %>/images/theballot_banner1.jpg"></a><br/><a href="http://<%= @controller.request.host + @guide.permalink_url %>" target="_blank"><%= @guide.name %></a>
