<h1>New guide</h1>

<table>
  <tr>
    <td valign="top">
      <%= start_form_tag( { :action => 'create' }, :id => 'guide_form' ) %>
        <%= render :partial => 'form' %>
        <%= submit_tag "Create" %>
      <%= end_form_tag %>
    </td>
    <td valign="top">
      <%= render :partial => 'new_endorsement' %>
    </td>
    <td valign="top">
      <div id="endorsements">
      </div>
    </td>
  </tr>
</table>

<%= link_to 'Back', :action => 'list' %>
