<div id="guide-resources">
 <h3>Voter Resources</h3>
<div class="resource-intro">Here are some sites you can use to gather information about voting, issues and ballots.</div>
<%= render :partial=>'menu' %>
</div>


