<div id="guide-resources">
 <h3>Voter Resources</h3>
<div class="resource-intro">Here are some sites you can use to gather information about issues and candidates.</div>
 <div class="resource-link"><a href="http://voter411.org" target="_blank">Voter411.org</a></div>
 <div class="resource-link"><a href="http://www.vote-smart.org/" target="_blank">Project Vote Smart</a></div>
 <div class="resource-link"><a href="http://www3.capwiz.com/c-span/e4/" target="_blank">C-SPAN Election Guide</a></div>
 <div class="resource-link"><a href="http://mypollingplace.com" target="_blank">Find your polling place</a></div>
</div>