/* AMP Default Site CSS */

div.list_pager {
		text-align: right;
		float: right; 
		width: 100%; 
		position: relative;
		font-size: 11px;
		display: block;
		padding: 5px 5px 10px 5px;
}

div.list_pager a.pager_link {
		font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px
		margin-bottom: 5px;
}

.AMPComponent_hidden {
		display: none;
		margin-top: 10px;
}

.standout {
		font-weight: bold;
		text-decoration: none;
		font-size:16px;
}

a.standout {
		text-decoration: none;
}

img.image_frontpage {
		border: 1px solid #000000;
}

span.morelink {
		margin-right: 10px;
}

span.udm_header {
		display: block;
		background-color: #E3E3E3;
		padding: 5px;
}

.searchform_label, .searchform_element, .searchform_header, .searchform_table, searchform_table.input {
		font-size: 11px;
		text-decoration: none;
		margin-left: 3px;
		/*text-align:left;*/
}

.searchform_table {
	text-align: left;
}


.searchform_header {
		font-size: 11px;
		font-weight: bold;
}

td.list_entry {
	width: 90%;
}

div.list_entry {
	width: 90%;
	padding-bottom: 1em;
}

.element_list_container {
	border: 1px solid silver;
	padding: 10px;
}

div.spacer {
	clear: both;
}

.sidebar_left {
	width:25%;
	padding:10px;
	float:left; 
	background-color:#999999; 
	margin-top:0px; 
	margin-left:10px; 
	margin-right:10px;
	margin-bottom:10px;
}	

.sidebar_right {
	width:25%;
	padding:10px;
	float:right; 
	background-color:#999999; 
	margin-top:0px; 
	margin-left:10px; 
	margin-right:10px;
	margin-bottom:10px;
}	

/* GALLERY MODULE */
/* list of gallerys */
.gallerylist { padding: 5px; text-align: left; }
.gallerylist a { font-size: 14px; }
.gallerylist img { float: left; margin: 8px; border: 1px solid #666; }
.gallerylist br { clear: both; }
.gallerylist p { display: inline; font-size: 12px; font-weight: normal; color: #666; padding-left: 10px; }
.gallerylist p a { color: #f00; font-size: 100%;
font-size: 11px; font-weight: normal; font-style: italic; color: #666; }

/* indiv gallery page */
.gallerytitle { font-size: 16px; font-weight: bold; color: #333333; }
div.gallery { padding: 0; margin: 0; border: 0; width: 400px; border: 1px solid #666; float:left; max-width: 400px;}
div.gallerycon { width: 200px; height: 200px; float: left; margin: 10px; text-align: center; border: 0px solid #666; }
.gallerycon img { float: center; padding: 5px; border: 1px solid #666; }
.gallerycap { padding: 5px; border: 0px solid #666; margin: 5px; }
div.gallery_pager { padding: 10px 0px 40px 0px; }

/* errors and results */
span.page_result {
		display:block;
		width: 60%;
		background-color: #99CCFF;
		color: #006666;
		padding: 5px 10% 5px 10%;
		text-align: center;
		margin: 5px 10% 5px 10%;
}

span.page_error {
		display:block;
		width: 60%;
		background-color: #FF5599;
		color: #550000;
		padding: 5px 10% 5px 10%;
		text-align: center;
		margin: 5px 10% 5px 10%;
}

span.list_subheader {
	font-size: 15px;
	font-weight: bold;
}
