<p><label for="image_path">Upload a new file:</label><br/>
<%= file_column_field "image", "path" %></p>

<p><label for="image_name">Name (optional):</label><br/>
<%= text_field "image", "filename" %></p>
