<h1>Listing images</h1>

<table>
<% for image in @images %>
  <tr>
    <td><%= image_tag image.url("thumb") %></td>
    <td><%= link_to 'Show', :action => 'show', :id => image %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => image %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => image }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= will_paginate(@images) %>

<br />

<%= link_to 'New image', :action => 'new' %>
