<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Super! New! Voter! Guides!</title>
  <%= @content_for_stylesheets %>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="wrap">
    <div id="header">Super! New! Voter! Guides!</div>
    <div id="nav">
      <% if logged_in? %>
      <%= link_to "My Stuff", :controller => 'account', :action => 'profile', :id => current_user.id %> | <%= link_to "Log Out", :controller => 'account', :action => 'logout' %>
      <% else %>
        <%= link_to "Log In", :controller => 'account', :action => 'login' %> | <%= link_to "Sign Up", :controller => 'account', :action => 'signup' %>
      <% end %>
    </div>
    <br class="clear" />
    <div id="guide-nav">
      <%= link_to "Make a new guide", :controller => 'guides', :action => 'new' %> | 
      <label for="state_select">View guides by state</label><%= us_state_select 'guide', 'state', {:show => :abbreviations, :include_blank => true}, {}, :onchange => "window.location.href='/guides/list?state=' + this.value" %> |
      <%= link_to "Search Guides", :controller => 'guides', :action => 'search' %> |
      <%= link_to "See Past Guides", :controller => 'guides', :action => 'archive' %>
      <% if @guide -%>
      | <%= link_to "Tell A Friend", :controller => 'guides', :action => 'tell', :id => @guide %>
      <% if logged_in? -%>
        <span id="pledged_status">
          <%= render :partial => 'guides/pledge', :locals => { :guide => @guide } %>
        </span>
        <% if @guide.owner?(current_user) || current_user.is_admin? %>
        | <%= link_to "Edit this guide", :controller => 'guides', :action => 'edit', :id => @guide %>
        <% end %>
        <% if logged_in? && current_user.is_admin? -%>
          <span id="endorsed_status">
            <%= render :partial => 'guides/endorse', :locals => { :guide => @guide } %>
          </span>
        <% end -%>
      <% end -%>
      <% end -%>
    </div>
    <div id="content">
      <div id="main" class="column">
        <p style="color: red"><%= flash[:error] %></p>
        <p style="color: green"><%= flash[:notice] %></p>
        <%= @content_for_layout %>
      </div>
      <div id="sidebar" class="column">
        <%= @content_for_sidebar %>
      </div>
    </div>
    <div id="footer"><% if current_user.is_admin? -%><span style="color: white;">release: <%= APPLICATION_SVN_REVISION %>; rails ver: <%= RAILS_GEM_VERSION %></span><% end -%></div>
  </div>
</body>
</html>
