<html>
<head>

<style type="text/css">

body {
  display: block;
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  min-height: 40em;
  }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h2, h3, h4 { margin-bottom: .2em; }

p { margin-bottom: .5em; }

a { text-decoration: underline; }

a:hover { text-decoration: none; }

</style>

</head>

<body>

<%= @content_for_layout %>

</body>
</html>
