<%= render "shared/header" %>

<body style="background-color: #E9E0C2; background-image: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; padding: 15px;">

<%= @content_for_layout %>

</body>
</html>
